APP_NAME=Rentier
APP_ENV=e2e
APP_KEY=base64:C8HkzRMmpU6ZIG5rUTFLQSUHJcRAEmT7axJvc26O6Q0=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8010

APP_LOCALE=ro
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

RENTIER_REGISTRATION_ENABLED=false
BCRYPT_ROUNDS=4

LOG_CHANNEL=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/e2e.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=array

MAIL_MAILER=array
MAIL_FROM_ADDRESS="e2e@rentier.test"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
